@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

$danger: #FE9F0A;
$info: #FBC88E;
$secondary: #A5A5A5;
$gray-100: #333333;
$light: #505050;
$gray-300: #D9D9D9;

$theme-colors: map-merge($theme-colors, (
    "danger": $danger,
    "info": $info,
    "secondary": $secondary,
    "gray-100": $gray-100,
    "gray-300": $gray-300,
    "light": $light,
));

$font-family-base: 'IBM Plex Mono', 'Azeret Mono', monospace;
$font-weight-base: 100;

$grid-columns: 3;
$grid-gutter-width: 1.5rem;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.calculator-wrapper {
    .container-fluid {
        background-color: black;
        @media screen and (width > 400px) {
            width: 400px !important;
        }
        .row {
            height: 60px;
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
                transition: all 0.2s linear;
                border: none !important;
                outline: none !important;
                aspect-ratio: 1 / 1;
                border-radius: 50%;

                > * {
                    pointer-events: none;
                }

                &.long {
                    width: 200%;
                    aspect-ratio: 2 / 1;
                }

                &:hover {
                    cursor: pointer;
                }

                &.bg-secondary {
                    &:active {
                        background-color: $gray-300 !important;
                    }
                }

                &.bg-gray-100 {
                    &:active {
                        background-color: $secondary !important;
                    }
                }

                &.equal {
                    color: white;
                    &:active {
                        background-color: $info !important;
                    }
                }

                &.function {
                    color: white;
                    &:focus {
                        background-color: white !important;
                        color: $danger !important;
                    }
                    &:active {
                        background-color: $info !important;
                    }
                }
            }
            
            #result {
                display: flex;
                align-items: center;
                overflow: hidden;

                input {
                    caret-color: transparent !important;
                    font-size: 3.5rem !important;
                    font-weight: bolder;
                    border: none;
                    outline: none;
                    cursor: none;
                }
            }
        }
    }
}