@import '../../node_modules/bootstrap/scss/functions';

@import '~bootstrap/scss/variables.scss';
@import '~bootstrap/scss/functions.scss';

$success: #3CAA78;
$info: #81D1AD;
$secondary: #A1A1A1;
$gray-100: #B9B9B9;
$light: #DDDDDD;

$theme-colors: map-merge($theme-colors, (
    "success": $success,
    "info": $info,
    "secondary": $secondary,
    "gray-100": $gray-100,
    "light": $light,
));

@import '~bootstrap/scss/bootstrap.scss';

.calculator-wrapper {
    position: fixed;
    background-color: $info;
    width: 100vw;
    height: 100vh;
    padding-top: 100px;

    .container {
        width: 240px;
        position: fixed;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);

        .row {
            height: 60px;

            .col-3,
            .col-6 {
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    font-size: 1.5rem;
                    transition: all 0.1s linear;
                    outline: none !important;

                    &:hover {
                        cursor: pointer;
                    }

                    &.bg-gray-100,
                    &.bg-secondary {
                        &:active {
                            background-color: whitesmoke !important;
                        }
                    }

                    &.equal {
                        &:active {
                            background-color: $light !important;
                        }
                    }
                }
            }
            
            &.result {
                display: flex;
                align-items: center;
                justify-content: right;
                font-size: 2.3rem;
                overflow: hidden;

                input {
                    caret-color: transparent !important;
                    font-weight: bolder;
                    cursor: none;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    &[type='number'] {
                        -moz-appearance: textfield;
                    }
                }
            }
        }
    }
}